<!--The content below is only a placeholder and can be replaced.-->
 
<h4>
  {{ title }}
</h4>



<h3>Co obliczać?</h3>
<div *ngFor="let entry of entries; let idx = index">
  <input type="radio" name="radiogroup" (change)="onSelectionChange(entry)" [checked]="(idx === 0)" [value]="entry.id">{{ entry.description }} 
</div>

<h3>Wybierz kształt:</h3>
<select #selectElem (change)="changeShape(selectElem.value)">
    <option *ngFor="let shape of lShapes" [value]="shape.id">
        {{shape.Name}}
    </option>
</select>
