<div>
  <div class="lab">Podaj długość pierwszego boku:</div>
	<input #a (keyup)="onEnterA(a.value)">
</div>

<div>
  <div class="lab">Podaj długość drugiego boku:</div>
  <input #b (keyup)="onEnterB(b.value)">
</div>



<div [ngSwitch]="whatToCalculate">
  <div *ngSwitchCase="0">
  	<div class="rectangle-shape-fill"></div>
  	<h3>Pole powierzchni: {{ area  }}</h3>
  </div>
  <div *ngSwitchCase="1">
  	<div class="rectangle-shape-empty"></div>
  	<h3>Obwód: {{ circumference }}</h3>
  </div>
</div>  
