<!--The content below is only a placeholder and can be replaced.-->
<div style="border: 1px solid red">
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>

<table>
<thead>
  <td>Select method:</td>
  <td></td>
</thead>
<tbody>
	<tr *ngFor="let entry of entries; let idx = index">
	<td>{{ entry.description }}</td>
	<td><input type="radio" name="radiogroup" (change)="onSelectionChange(entry)" [checked]="(idx === 0)" [value]="entry.id"></td>
	</tr>
</tbody>
</table>

<select #selectElem (change)="changeShape(selectElem.value)">
    <option *ngFor="let shape of lShapes" [value]="shape.id">
        {{shape.Name}}
    </option>
</select>


</div>
